@use "../utilities/variables";
@use "../utilities/mixins";

footer {
  grid-area: footer;
  background-color: variables.$verde-oscuro;
  padding: 50px 20px;
  @include mixins.flex-center(row);
  text-align: center;
  color: variables.$blanco;
  position: relative;
}




/* ===== GRID DE 3 COLUMNAS ===== */
.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    align-items: start;
    position: relative;
}

/* Columnas */
.footer-col {
    padding: 0 20px;
    position: relative;
    min-height: 250px;
    
}

/* Líneas blancas entre columnas */
.footer-col:not(:last-child)::after {
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color:variables.$blanco;
    opacity: 0.3;
    
}

/* Títulos */
.footer-col h3 {
    margin-bottom: 15px;
    font-size: 20px;
}

/* ===== Lista de enlaces columna 1 ===== */
.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: variables.$blanco;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* ===== Columna 2: mapa + texto ===== */

.footer-map {
  width: 100%;
  max-width: 200px;
  margin: 0 auto 15px;
}
.footer-center {
    text-align: center;
}

.footer-copy {
    opacity: 0.8;
    margin-top: 10px;
}

/* ===== Columna 3: redes sociales ===== */
.footer-redes {
    list-style: none;
    padding: 20px;
}

.footer-redes li {
    margin-bottom: 10px;
}

.footer-redes img {
    width: 22px;
    margin-right: 8px;
    vertical-align: middle;
}

.footer-redes a {
    color: variables.$blanco;
    text-decoration: none;
}

.footer-redes a:hover {
    text-decoration: underline;
}


/* ===== BOTÓN FLOTANTE WHATSAPP ===== */

.wpbottom {
  position: fixed;
  bottom: 20px;
  right: 20px;
  }


.wpbottom img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    }