@use "../utilities/variables";

header {
    text-align: center;       
    position: relative;       
                 
    display: flex;  
    flex-direction: column;          
    grid-area: header;        
    justify-content: center;  
    align-items: center;      
    background-image: url("../media/img/index/fondodepantallaparaheader.png"); 
    background-size: cover;   
    background-position: right; 
    height: 70vh;           
}

/*ESTILO A LA IMAGEN DEL LOGO*/
.imagenlogo img {
    width: 350px;           
    height: auto;
    position: relative;
     
}

.titulo h1 {
    font-size: 42px;          
    font-weight: bold;        
    color: variables.$color-text-light;           
}

.titulo {
  margin-top: 50px;
}

/*ESTILO AL TEXTO PRINCIPAL*/

.navbar-toggler {
  border: none;     
  padding: 0;  
  background-color: variables.$color-primary-dark;
  
  
}

.navbar-toggler-icon {
  filter: invert(100%);
}

.menuburger {
    background-color:variables.$color-primary-dark;
    border-radius: 20px;
    margin-top: 30px;
}

.nav-link {
    color:variables.$color-text-light !important;
}

.nav-link:hover {
    color: rgb(206, 206, 30) !important;
}

.nav-link.active {
    background-color:variables.$color-secondary !important;
    color: variables.$color-primary !important;
    border-radius: 20%;
}

/*Uso de important, porque boostrap no me permite sobreescribir el padding, sugerencia de Chat GPT*/


/*=== TITULO PRINCIPAL  ===*/

/* Título principal */
.tituloprincipal {
    font-size: 2.4rem;
    color: variables.$color-text-light;
    text-align: center;
    display: flex;    
}

/*----- Login ------*/

/*ESTILO A LA CAJA VERDE OSCURA*/
.loginmenu {
    position: absolute;           
    top: 0px;                    
    right: 40px;                  
    background-color:variables.$color-primary;  
    padding: 30px;               
    border-radius: 0 0 20px 20px; 
}

/*ESTILO A CADA OPCIÓN DENTRO DE LA CAJA VERDE*/
.opcionmenu {
    background-color: #F0D54B; 
    border-radius: 20px;         
    display: flex;              
    align-items: center;         
    justify-content: center;     
    padding: 6px 14px;           
    margin-top: 10px;            
}

/*ESTILO A LAS ETIQUETAS DENTRO DE CADA OPCION AMARILLA*/
.opcionmenu a {
    text-decoration: none;     
    color: variables.$color-primary;         
    font-weight: bold;        
    padding: 4px 0;            
}

.login {
    grid-area: header;
    background-color: variables.$color-primary;
    display: flex;
    padding: 100px 10px;
    border-radius: 20px;
    flex-direction: row;
}

section.login div {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

section.login a {
    display: block;
    text-align: center;
    padding: 10px;
    width: 120px;
    border-radius: 10px;
    text-decoration: none;
    background-color: rgb(151, 151, 36);
    color: variables.$color-text-light;
}