@use "../utilities/variables";
@use "../utilities/mixins";
@use "../utilities/animations";




header {
    text-align: center;       
    position: relative;       
    grid-area: header;  
        
 @include mixins.flex-center(column);


    background-image: url("../media/img/index/fondodepantallaparaheader.png"); 
    background-size: cover;   
    background-position: right; 
    height: 70vh;           
}


/*ESTILO A LA IMAGEN DEL LOGO*/
.imagenlogo img {
    width: 350px;           
    height: auto;
    position: relative;
     
}

.titulo h1 {
    font-size: 42px;          
    font-weight: bold;        
    color: variables.$blanco;           
}

.titulo {
  margin-top: 50px;
}

/*ESTILO AL TEXTO PRINCIPAL*/

.navbar-toggler {
  border: none;     
  padding: 0;  
  background-color: variables.$verde-muy-oscuro;
 
}

.navbar-toggler-icon {
  filter: invert(100%);
}

.menuburger {
    background-color:variables.$verde-muy-oscuro;
    border-radius: 20px;
    margin-top: 30px;
}

.nav-link {
    color:variables.$blanco !important;
}

.nav-link:hover {
    color: variables.$amarillo-hover !important;
}

.nav-link.active {
    background-color:variables.$verde-muy-oscuro !important;
    color: variables.$verde-oscuro !important;
    border-radius: 20%;
}

/*Uso de important, porque boostrap no me permite sobreescribir el padding, sugerencia de Chat GPT*/


/*=== TITULO PRINCIPAL  ===*/

/* Título principal */
.tituloprincipal {
    font-size: 2.4rem;
    color: variables.$blanco;
    text-align: center;
    display: flex;    
}

/*----- Login ------*/

/*ESTILO A LA CAJA VERDE OSCURA*/
.loginmenu {
    position: absolute;           
    top: 0px;                    
    right: 40px;                  
    background-color:variables.$verde-oscuro;  
    padding: 30px;               
    border-radius: 0 0 20px 20px; 
}

/*ESTILO A CADA OPCIÓN DENTRO DE LA CAJA VERDE*/
.opcionmenu {
    background-color: variables.$amarillo-principal; 
    border-radius: 20px;         
   
  @include mixins.flex-center;
    
    padding: 6px 14px;           
    margin-top: 10px;            
}

/*ESTILO A LAS ETIQUETAS DENTRO DE CADA OPCION AMARILLA*/
.opcionmenu a {
    text-decoration: none;     
    color:variables.$verde-oscuro;         
    font-weight: bold;        
    padding: 4px 0;            
}

.login {
    grid-area: header;
    background-color:variables.$verde-oscuro;
    display: flex;
    padding: 100px 10px;
    border-radius: 20px;
  @include mixins.flex-center;

}



section.login div {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

section.login a {
    display: block;
    text-align: center;
    padding: 10px;
    width: 120px;
    border-radius: 10px;
    text-decoration: none;
    background-color:variables.$amarillo-hover;
    color: variables.$blanco;
}