@use "../utilities/variables";
@use "../utilities/mixins";

/* ===== Título contacto ===== */
.titulocontacto {
    text-align: center;
    color: variables.$blanco;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 4%;
}

/* ===== Contenedor principal ===== */
.contacto {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 90px;
    align-items: center; 
    padding: 0 30px 20px 20px;
}


/* ===== Imagen ===== */
.contacto-img {
    width: 100%;

    border-radius: 15px;
}

/* ===== Datos de contacto ===== */
.contacto ul {
    list-style: none;
    padding: 0;
}

.contacto ul li {
    margin-bottom: 10px;
    color:variables.$blanco;
    text-align: start;
}

.contacto ul li a {
    color: variables.$blanco;
    text-decoration: none;
}

/* ===== Mapa ===== */

.mapa {
    width: 100%;        
    max-width: 400px;   
    height: 300px;      
    overflow: hidden;   
}

.mapa iframe {
    width: 100%;      
    height: 100%;      
    border: 0;         
}