@use "../utilities/variables";
@use "../utilities/mixins";


.comunidadplantil{
  display: flex;
  flex-direction: column-reverse;
  
}

.comunidadplantil img {
  width: 100%;
  height: auto; 
  max-height: 800px;
  object-fit: cover; 
  border-radius: 40px;
}

.textoscomunidad h3{
    color: variables.$amarillo-hover;
   text-align: center;
    margin-top: 30px;
    background-color:variables.$verde-muy-oscuro;
    border-radius: 20px;

 }
.textoscomunidad p{
  color: variables.$blanco;
  font-style: italic;
  
}

.textoscomunidad p::first-letter  {
  font-size: 2rem;
}


