@use "../utilities/variables";
@use "../utilities/mixins";
@use "../utilities/animations";

main {
 grid-area: main;
  padding: 40px;
  @include mixins.flex-center(column);
  gap: 40px;
  background-color:variables.$verde-oscuro;
}

/* ===== CATÁLOGO Main===== */
.catalogo {
  @include mixins.flex-center;
  gap: 100px;
  flex-wrap: wrap;
  align-items: stretch
}

/* Card individual */
.catalogo-card {

  @include mixins.card-base(variables.$amarillo-principal);
  @include mixins.flex-center(column);
  gap: 15px;
  max-width: 350px;


}

/* Título */
.catalogo-titulo {
  margin: 0;
  font-weight: bold;
}

/* Imagen */
.catalogo-img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

/* Caja texto + botón */
.caja-plantas {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Botón catálogo */
.btn-catalogo {

  @include mixins.boton(#2d6a4f);
  margin-top: 10px;
  align-self: center;
  border-radius: 12px; // si querés distinto
}


/* Badge */
.badge-nuevo {
  font-size: 0.9rem;
  font-weight: bold;
}


/* ===== Boton animación ===== */


/* ===== COMUNIDAD ===== */
.comunidad {
 
  @include mixins.flex-center;

}

/* Contenedor Comunidad */
.comunidad-card {

  @include mixins.card-base(variables.$amarillo-principal);
  @include mixins.flex-center(column);
  gap: 15px;
  max-width: 800px;
}

/* Imagen */
.comunidad-img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

/* Título */
.comunidad-card h2 {
  color:variables.$blanco;
  margin: 0;
  font-size: 2rem;
}

/* Párrafo */
.comunidad-card p {
  color:variables.$blanco;
  margin: 0;
  line-height: 1.6;
  font-weight: bold;
}

/* Primera letra */
.comunidad-card p::first-letter {
  font-size: 2rem;
  font-weight: bold;
}

/* Botón */
 .btn-comunidad {
  @include mixins.boton(variables.$verde-oscuro);
  display: inline-block;
  border-radius: 40px; // override del mixin
  margin-top: 30px;
  text-align: center;

}

.btn-comunidad:hover {
  background-color: variables.$verde-oscuro;
}


/* ===== BOTÓN FLOTANTE WHATSAPP ===== */


  .whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.wpbottom {
  z-index: 9999;
  position: relative;
  &:hover {
    img {
      filter: drop-shadow(0 0 8px rgba(0, 255, 120, 0.6))
          drop-shadow(0 0 16px rgba(0, 255, 120, 0.35));

    }
  }
}

.wpbottom img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    transition: filter 0.3s ease;
  }

.plantita-wp {
  width: 150px;
  height: auto;
  margin-right: -50px;
  vertical-align: bottom;
}