@use "../utilities/variables";
@use "../utilities/mixins";


.comunidadplantil{
  display: flex;
  flex-direction: column-reverse;
  
}

.comunidadplantil img {
  width: 100%;
  height: auto; 
  max-height: 800px;
  object-fit: cover; 
  border-radius: 40px;
}

.textoscomunidad h3{
    color: variables.$amarillo-hover;
   text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 30px;


 }
.textoscomunidad p{
  margin-top: 20px;
  color: variables.$blanco;
  font-style: italic;
  
}




