@use "../utilities/variables";
@use "../utilities/mixins";



.nosotros {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.nosotros img {
    border-radius: 20px;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 15px;
}

.margarita,
.tomas {
  @include mixins.card-base(variables.$amarillo-hover);
  margin-bottom: 20px;
}

.margarita p {
    margin-top: 20px;
}

.tomas p {
    margin-top: 20px;
}


