/* Error: Can't find stylesheet to import.
 *   ,
 * 1 | @use "utilities/variables";
 *   | ^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   sass\utilities\_animations.scss 1:1  @use
 *   sass\layout\_header.scss 3:1         @use
 *   sass\style.scss 6:1                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 1 \2502  @use \"utilities/variables\";\d\a   \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   sass\\utilities\\_animations.scss 1:1  @use\a   sass\\layout\\_header.scss 3:1         @use\a   sass\\style.scss 6:1                  root stylesheet";
}
