


@keyframes plantita-viva {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(4deg) scale(1.015);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

.plantita-wp {
  animation: plantita-viva 5s ease-in-out infinite;
  transform-origin: center bottom;
}

@keyframes footermap {

  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  
}

.footer-map {
  animation: footermap 3s ease-in-out infinite;
}
