$color-primary: #044;
$color-primary-dark: #022;
$color-primary-moredark: #033;

$color-secondary: rgb(151, 151, 36);
$color-secondary-light: rgb(180, 180, 60);
$color-secondary-hover: rgb(206, 206, 30);

$color-text-light:white;
