

/*Colores base*/

$verde-oscuro: #044;
$verde-muy-oscuro: rgb(26, 105, 71);


$amarillo-principal: rgb(151, 151, 36);
$amarillo-hover: rgb(210, 210, 59);

$blanco: #fff;
$negro: #000;

$font-main: Arial, Helvetica, sans-serif;




