

/*Colores base*/

$verde-oscuro: #044;
$verde-muy-oscuro: #022;


$amarillo-principal: rgb(151, 151, 36);
$amarillo-hover: rgb(180, 180, 60);

$blanco: #fff;
$negro: #000;

$font-main: Arial, Helvetica, sans-serif;




