/* =====================================================
              Responsives
   ===================================================== */

/* ===== Footer responsive ===== */
@media (max-width: 768px) {
    .footer-grid {
        grid-template-columns: 1fr; /* columnas se apilan */
        gap: 20px;
        text-align: center;
    }

    .footer-col {
        padding: 10px 0;
    }

    
    .footer-col::after {
        display: none;
    }

    .footer-redes {
        display: flex;
        justify-content: center;
        gap: 15px;
        padding: 10px 0;
    }

    .footer-map {
        margin: 0 auto 10px;
        max-width: 100%;
    }
}
/* ===============================
   CONTACTO RESPONSIVE
   =============================== */

@media (max-width: 768px) {

  .contacto {
    grid-template-columns: 1fr; /* 1 sola columna */
    gap: 30px;
    text-align: center;
  }

  .contacto-img {
    width: 100%;      /* antes 60% */
    max-width: 320px;
    margin: 0 auto;
  }

  .contacto ul {
    text-align: center;
  }

  .mapa {
    max-width: 100%;
    height: 250px;
    margin: 0 auto;
  }
}

/* ===============================
   Login de inicio
   =============================== */

@media (max-width: 768px) {
  .imagenlogo {
    margin-top: 70px;
  }

  .loginmenu {
    position: sticky;      
    top: 0;
    left: 0;
    right: 0;

    width: 100%;
    transform: none;
    border-radius: 0 0 20px 20px;

    z-index: 10;
    order: -1;
  }
}


@media (max-width: 768px) {

  .catalogo {
    gap: 50px;
  }
}

@media (max-width: 768px) {
  .titulo{
    margin-top: 30px;

  }
}

@media (max-width: 768px) {
  header {
    height: 80vh;
    justify-content: flex-start; 
  }
}

